<%- include("_header") -%>

<h2> Find Customers</h2>

<h4>Total number of records in the database: <%= totRecs %></h4>

<!-- Not using bootstrap, just a simple form that you may enhance -->
<form action="/customer" method="POST">
    <table>
        <tr>
            <td><label for="cusid">ID</label>:</td>
            <td><input type="number" name="cusId" id="cusid" value="<%=cust.cusid %>" /></td>
            <td>(equals)</td>
        </tr>
        <tr>
            <td><label for="cusfname">First Name</label>:</td>
            <td><input type="text" name="cusfname" id="cusfname" value="<%=cust.cusfname %>" /></td>
            <td>(begins with)</td>
        </tr>
        <tr>
            <td><label for="cuslname">Last Name</label>:</td>
            <td><input type="text" name="cuslname" id="cuslname"  value="<%=cust.cuslname %>" /></td>
            <td>(begins with)</td>
        </tr>
        <tr>
            <td><label for="cusstate">State</label>:</td>
            <td><input type="text" name="cusstate" id="cusstate" value="<%=cust.cusstate %>"/></td>
            <td>(begins with)</td>
        </tr>
        <tr>
            <td><label for="cussalesytd">Sales YTD</label>:</td>
            <td><input type="number" name="cussalesytd" id="cussalesytd" value="<%=cust.cussalesytd %>" /></td>
            <td>(greater than or equal)</td>
        </tr>
        <tr>
            <td><label for="cussalesprev">Previous Year Sales</label>:</td>
            <td><input type="number" name="cussalesprev" id="cussalesprev" value="<%=cust.cussalesprev %>" /></td>
            <td>(greater than or equal)</td>
        </tr>
        <tr>
            <td span="2">
                <input type="submit" value="Find" />
                <input type="reset" value="Reset" />
            </td>
        </tr>
    </table>
</form>

<!-- Omitted Error Checking / Needs to be added -->
<% if (type === "post") { %>
    <% if (result.result.length === 0) { %>
        <h3>No records found!</h3>
    <% } else { %>
        <%console.log(result.result);%>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>FName</th>
                    <th>LName</th>
                    <th>State</th>
                    <th>YTDsales</th>
                    <th>PrevYearSales</th>
                    <!-- <td class="d-print-none"></td> -->
                    <a style="background-color: lightgreen;" class="btn btn-sm btn-warning" href="/create/<%= result.result.cusid %>">Create Customer</a>

                </tr>
            </thead>
            <tbody>
                <% result.result.forEach(customer => { %> 
                    <tr>
                        <td style="color: black;"><%= customer.cusid %></td>
                        <td style="color: black;"><%= customer.cusfname %></td>
                        <td style="color: black;"><%= customer.cuslname %></td>
                        <td style="color: black;"><%= customer.cusstate %></td>
                        <td style="color: black;"><%= customer.cussalesytd %></td>
                        <td style="color: black;"><%= customer.cussalesprev %></td>
                        <td class="d-print-none">
                            <a class="btn btn-sm btn-warning" href="/edit/<%= result.result.cusid%>">Edit</a>
                            <a class="btn btn-sm btn-danger" href="/delete/<%= result.result.cusid %>">Delete</a>
                          </td>
                    </tr>
                <% }); %>
            </tbody>

        </table>
    <% } %>
<% } %>

<%- include("_footer") -%>